* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #f5f5f5;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  height: 80px;
}

.brand {
  font-size: 38px;
  font-weight: 700;
  color: #4b47ff;
}

.nav-links a {
  margin-left: 2rem;
  text-decoration: none;
  color: #333;
}

.nav-links a.active,
.nav-links a:hover {
  color: #4b47ff;
}

.logout {
  color: red;
}


/* Booking Box */
.book-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

.book-box {
  background: #fff;
  padding: 2rem;
  width: 420px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.book-box h2 {
  text-align: center;
}

.book-box p {
  text-align: center;
  margin-bottom: 1rem;
  color: #666;
}

label {
  display: block;
  margin-top: 1rem;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

textarea {
  border-radius: 10px;
}

.row {
  display: flex;
  gap: 10px;
}

.field {
  flex: 1;
}

.btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #4b47ff;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.btn:hover {
  background: #3b37d6;
}
