/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
  background: #fff;
  padding: 15px 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  margin-right: 10px;
}

.brand {
  font-size: 30px;
  font-weight: 700;
  color: #4b47ff;
}

/* Login Section */
.login-section {
  min-height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6ff;
}

.login-card {
  background: #fff;
  width: 360px;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
}

/* Form */
form label {
  font-size: 13px;
  font-weight: 500;
  display: block;
  margin-bottom: 6px;
  margin-top: 15px;
}

form input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

form input:focus {
  border-color: #4b47ff;
}

/* Button */
.btn {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  background: #4b47ff;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #3732d3;
}

/* Signup Text */
.signup-text {
  text-align: center;
  margin-top: 18px;
  font-size: 14px;
}

.signup-text a {
  color: #4b47ff;
  text-decoration: none;
  font-weight: 500;
}
